@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Azeret Mono", monospace;
}


/* Nav section Start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;
}
.nav_name{
    font-size: 28px;
    font-weight:800;
    color: #0D1321;
    margin-left: 145px;
}
.nav_button button{

    font-size: 20px;
    font-weight: 600;
    background-color: white;
    margin-right: 145px;;
    padding: 17px 24px;
    border-radius: 8px;
    opacity: 70%;
    border-width: thin;
}
/* Nav section End */




/* Banner section Start */
.banner{
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    height: 652px;
}

.banner-container{
    height: 581px;
    width: 998px;
    margin: 0px auto 45px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.banner-image{
    margin-top: 26px;
}

.banner-heading{
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
}

.banner-discription{
    color: #0D1321;
    font-size: 16px;
    opacity: 70%;
}

.banner-button{
    background-color: #0D1321;
    padding: 20px 24px;
    border-radius: 8px;
    margin-top: 30px;
}

.banner-button a{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    word-spacing: 15px;
    text-decoration: none;
}
/* Banner section End */



/* Development section Start */

.development{
    height: 1300px;
    width: 1140px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.development-container{
    height: 1233px;
    width: 946px;
}

.development-content{
    text-align: center;
}

.development-heading{ 
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}

.development-description{
    font-size: 16px;
    color: #0D1321;
    opacity: 70%;
}

.development-figure{
    display: flex;
    justify-content: space-between;
    margin: 48px 47px;

}

.figure-content{
    height: 219px;
    width: 477px;
}

.figure-heading{
    font-size: 24px;
    font-weight: bold;
    color: #0D1321;
    opacity: 70%;
}

.figure-discription{
    font-size: 16px;
    color: #0D1321;
    opacity: 70%;

}

.figure-button{
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    text-decoration: none;
    background-color: white;
    border-width: thin;

}
.figure-button a{
    text-decoration: none;
    color: #0D1321;
    opacity: 70%;
}

.figure-image{

    height: 240px;
    width: 274px;
}

.reverse-figure{
    display: flex;
    flex-direction: row-reverse;

}
/* Development section End */


/* Inspiration section Start */

.inspiration{
    width: 1140px;
    height: 775px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.inspiration-content{
    height: 113px;
    width: 850px;
    text-align: center;

}

.inspiration-heading{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;

}

.inspiration-description{
    font-size: 16px;
    color: #0D1321;
    opacity: 70%;
    padding: 24px;
}

.inspiration-vedio iframe{
    border-radius: 16px;
}
.inspiration-vedio{
    border: 1px solid black;
    padding: 32px;
    border-radius: 16px;
    border-width: thin;
    border-color: rgba(0, 0, 0, 0.151);
    margin-top: 38px;
}
/* Inspiration section End */



/* Target section Start */

.target-container{
    width: 1140px;
    height: 480px;
    margin: 100px auto 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
}

.target-content{
    text-align: center;
    width: 946px;
    height: 160px;

}

.target-heading{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}

.target-description{
    font-size: 16px;
    color: #0D1321;
    opacity: 70%;

}

.target-list{
    display: flex;
    gap: 20px;

}

.target-item{
    height: 220px;
    width: 280px;
    padding: 40px;
    border-radius: 16px;
}
.html-bg{
    background-color: #FFF6F4;
}
.css-bg{
    background-color: #F2F6FE;
}
.js-bg{
    background-color: #FFF6F4;
}

.item-heading{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
}

.item-description{
    font-size: 16px;
    color: #0D1321;
    opacity: 70%;
}
.item-link{
    font-size: 16px;
    color: #0D1321;
    font-weight: bold;

}
/* Target section Start */

.support{
    width: 1140px;
    height: 313px;
    
    background-image:linear-gradient(180.00deg, 
    rgb(16, 16, 16) -19.5%,
    rgba(16, 16, 16, 0) 100%), 
    url(assets/handshake.jpg);

    background-size: 100% 135%;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.support-content{
    width: 650px;
    height: 105px;
    text-align: center;
}
.support-heading{
    font-size: 32px;
    font-weight: 800;
    color: #FFFFFF;
}

.support-description{
    font-size: 16px;
    color: #FFFFFF;
    opacity: 70%;

}
.support-input{
    text-align: center;
}

.support-itext{

    height: 55px;
    width: 540px;
    border-radius: 16px;
    border: none;
}
.support-sbtn{
    width: 120px;
    height: 55px;
    border-radius: 8px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
}
input::placeholder{
    font-size: 18px;
    padding: 19px;
}